.BR-container {
  background-color: #edebe9;
  padding-bottom: 60px;
  padding-top: 30px;
}
.br-upperSection {
  padding-bottom: 30px;
  padding-left: 123px;
  padding-right: 200px;
}
.carousel-section {
  padding-left: 90px;
  padding-right: 570px;
}
.br-heading h3 {
  font-weight: 700;
  font-size: x-large;
}

.view-menu a {
  text-decoration: none;
  color: #167f73;
  font-weight: 650;
  font-size: small;
}

.cards {
  justify-content: space-evenly;
}
.cards-content {
  border: 1px solid white;
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 8px;
}

.card-img img {
  height: 78px;
  width: 78px;
  border-radius: 9px;
  margin-left: 25px;
  margin-top: 18px;
}

.card-about {
  margin-top: 18px;
  /* background-color: aqua; */
  width: 900px;
  height: 90px;
}
.card-title h3 {
  font-size: medium;
}

.card-subtitle span {
  font-size: small;
}

.card-bottom {
  justify-content: space-between;
  font-size: small;
}
.card-price h6 {
  margin-left: 25px;
}
.card-add-item button {
  background-color: #00754a;
  border-radius: 30px;
  margin-right: 25px;
}
.promo-col{
  background-color: #066241;
  border-radius: 10px;
}
.promo-container {
  position: relative;
}
.promo-container img{
  width: 100px;
  height: 225px;
}
.promo-text p,h4{
  padding-left: 20px;
  padding-top: 15px;
}
.promo-btn{
  position: absolute;
  bottom: 18px;
  right: 0;
  margin-right: 20px;
}
.promo-btn button{
  background-color: #ffffff;
  padding: 12px 60px;
  border-radius: 50px;
  font-size: small;
  font-weight: 500;
  border: none;
}